.CartGoodsItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.CartGoodsItem:not(:last-child) {
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}
.CartGoodsItem .itemImage {
  margin-left: 7px;
}
.CartGoodsItem .itemInfo {
  flex: 1;
  margin-left: 15px;
}
.CartGoodsItem .itemOther {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CartGoodsItem .itemOther .itemPrice {
  font-size: 16px;
  font-weight: bold;
  color: var(--adm-color-primary);
}
