.OrderItem {
  padding: 13px;
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 8px;
}
.OrderItem .orderGodds {
  display: flex;
  align-items: center;
}
.OrderItem .orderGodds:not(:last-child) {
  margin-bottom: 5px;
}
.OrderItem .orderGodds .rightContent {
  margin-left: 8px;
  font-size: 14px;
}
.OrderItem .orderGodds .rightContent .price {
  color: var(--adm-color-primary);
  font-weight: bold;
}
.OrderItem .orderGodds .rightContent .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.OrderItem .orderGodds .rightContent .otherInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.OrderItem .orderInfo .infoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.OrderItem .orderInfo .infoItem:not(:last-child) {
  margin-bottom: 5px;
}
.OrderItem .orderInfo .infoItem .price {
  font-weight: bold;
  color: var(--adm-color-primary);
}
.OrderItem .totalPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4px;
}
.OrderItem .totalPrice span {
  font-weight: bold;
  font-size: 16px;
  color: var(--adm-color-primary);
}
