.OrderOperation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 6px;
}
.OrderOperation .operationBtn {
  padding: 6px 17px 7px;
  background-color: var(--adm-color-primary);
  color: #fff;
  border-radius: 5px;
}
